<div class="list-wrap">
  <el-breadcrumb class="list-breadcrumd" separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>权限管理</el-breadcrumb-item>
    <el-breadcrumb-item>角色列表</el-breadcrumb-item>
  </el-breadcrumb>
  <el-row class="list-action-wrap">
    <el-col :span="24">
      <el-button type="success" plain>添加角色</el-button>
    </el-col>
  </el-row>
  <el-table
    :data="roleList"
    border
    style="width: 100%">
    <el-table-column type="expand">
      <template slot-scope="scope">
        <!-- 一级权限 -->
        <el-row
          class="role-level1"
          v-for="level1 in scope.row.children">
          <el-col :span="4">
            <el-tag
              closable
              type="">
              {{ level1.authName }}
            </el-tag>
            <i class="el-icon-arrow-right"></i>
          </el-col>
          <el-col :span="20">
            <!-- 二级权限 -->
            <el-row
              v-for="level2 in level1.children"
              class="role-level2">
              <el-col :span="4">
                <el-tag
                  closable
                  type="success">
                  {{ level2.authName }}
                </el-tag>
                <i class="el-icon-arrow-right"></i>
              </el-col>
              <!-- 三级权限和二级权限同处一行 -->
              <el-col :span="20">
                <el-tag
                  class="role-level3-tag"
                  v-for="level3 in level2.children"
                  closable
                  type="warning">
                  {{ level3.authName }}
                </el-tag>
              </el-col>
            </el-row>
          </el-col>
        </el-row>
      </template>
    </el-table-column>
    <el-table-column
      label="#"
      type="index">
    </el-table-column>
    <el-table-column
      label="角色名称"
      prop="roleName">
    </el-table-column>
    <el-table-column
      label="描述"
      prop="roleDesc">
    </el-table-column>
    <el-table-column
      label="操作">
      <template slot-scope="scope">
        <el-button>编辑</el-button>
      </template>
    </el-table-column>
  </el-table>
</div>
